<ion-grid>
  <ion-row>
    <h3>Détails de l'annonce</h3>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label class="post-detail-label">Type d'annonce</ion-label>
      <div *ngFor="let type of types">
        <p class="post-detail-text">{{type.name}}</p>
      </div>
    </ion-item>
    <ion-item>
      <ion-label class="post-detail-label">Nombres de personnes</ion-label>
      <p class="post-detail-text">{{post.attendees.length}} / {{post.groupSize}}</p>
    </ion-item>
    <ion-item>
      <ion-label class="post-detail-label">Date limite</ion-label>
      <p class="post-detail-text">{{post.timestamp | date: 'dd-MM-yyyy HH:SS'}}</p>
    </ion-item>
  </ion-list>
</ion-grid>
