<ion-header>
    <ion-toolbar>
        <ion-title>search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <h1>
                Rechercher par son nom
            </h1>
        </ion-row>
        <ion-row>
            <ion-input class="search-input" [placeholder]="'Rechercher'" padding></ion-input>
        </ion-row>
        <ion-row>
            <ion-row>
                <h1>Catégories</h1>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-badge class="categories-badge" (click)="addCategory()">
                        <ion-icon name="add"></ion-icon>
                    </ion-badge>
                </ion-col>
                <ion-col>
                    <ion-badge class="categories-badge">Catégorie 1</ion-badge>
                </ion-col>
                <ion-col>
                    <ion-badge class="categories-badge">Catégorie 1</ion-badge>
                </ion-col>
                <ion-col>
                    <ion-badge class="categories-badge">Catégorie 1</ion-badge>
                </ion-col>
            </ion-row>
        </ion-row>
        <ion-row>
            <h1>
                Rechercher par adresse
            </h1>
        </ion-row>
        <ion-row>
            <ion-input class="search-input" [placeholder]="'Rechercher'" padding></ion-input>
        </ion-row>
        <ion-row>
            <ion-icon name="pin" [color]="'orange'"></ion-icon>
            <a href="" id="proximity-link">À proximité de ma position</a>
        </ion-row>
        <ion-row justify-content-center>
            <ion-button class="search-btn" shape="round" (click)="search()">Rechercher</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
<app-toolbar></app-toolbar>
