<ion-grid>
    <ion-row padding-horizontal>
        <h3>{{title}}</h3>
    </ion-row>
    <p class="show-case-description" padding-horizontal>
        {{description}}
    </p>
    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let post of posts">
            <app-post-card [post]="post"></app-post-card>
        </ion-slide>
    </ion-slides>
    <ion-row justify-content-center>
        <ion-button class="see-more-post" shape="round" (click)="showMore()">Voir plus de 100 annonces</ion-button>
    </ion-row>
</ion-grid>
