<ion-header class="header-search">
    <ion-toolbar>
        <ion-title>search</ion-title>
    </ion-toolbar>
    <ion-row padding-horizontal>
        <ion-input class="search-input" [placeholder]="'burger 6 personnes'" padding></ion-input>
    </ion-row>
    <ion-row padding>
        <ion-col >
            <!--TO DO : Reduce button size -->
            <!--Animate header, it's hidden while user action-->
            <ion-button shape="round" color="warning" class="categ-badge">
                <span color="warning"  >Catégorie 1</span>
                <ion-icon name="close" class="detete-categ-icon" slot="end"></ion-icon>
            </ion-button>
            <ion-button shape="round" color="warning" class="categ-badge">
                <span color="warning"  >Catégorie 1</span>
                <ion-icon name="close" class="detete-categ-icon" slot="end"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>
    <app-post-summup></app-post-summup>
    <app-post-summup></app-post-summup>
    <app-post-summup></app-post-summup>
</ion-content>
