<ion-grid>
    <ion-row padding-horizontal>
        <h3>Les plus populaires</h3>
    </ion-row>
    <p class="show-case-description" padding-horizontal>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit dui, gravida quis interdum nec, ornare
        euismod quam.
    </p>
    <ion-slides [options]="slideOpts">
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
        <ion-slide>
            <app-post-card></app-post-card>
        </ion-slide>
    </ion-slides>
    <ion-row justify-content-center>
        <ion-button class="see-more-post" shape="round" (click)="showMore()">Voir plus de 100 annonces</ion-button>
    </ion-row>
</ion-grid>
